/* Section colors */
:root {
  --purple: #553573;
  --green: #71b44c;
  --backgroundpurple: #322f36;
  --foregroundpurple: #3a363f;
  --offwhite: #faefec;
}

.bg-dark {
  background-color: var(--backgroundpurple);
}

body {
  background-color: var(--backgroundpurple);
}

.slimegreen {
  background-color: var(--green);
}

.slimepurple {
  background-color: var(--purple);
}

.grey {
  background-color: var(--foregroundpurple);
}

.deeppurple {
  background-color: var(--backgroundpurple);
}

.offwhite {
  background-color: var(--offwhite);
  color: var(--backgroundpurple);
}

/* fonts */
@font-face {
  font-family: "Kapra Neue Pro Light Exp Rd";
  src: url("fonts/KapraNeuePro-LightExpRd.woff2") format("woff2"),
    url("fonts/KapraNeuePro-LightExpRd.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kapra Neue Pro Exp Rd";
  src: url("fonts/KapraNeuePro-BoldExpRd.woff2") format("woff2"),
    url("fonts/KapraNeuePro-BoldExpRd.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* section formatting */
body {
  overflow-x: hidden;
}

.h-align {
  margin-left: auto;
  margin-right: auto;
}

.v-align {
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
}

.tab-right {
  z-index: 3;
  border: 0px;
  position: relative;
  background-color: var(--foregroundpurple);
}
.tab-right:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 80%;
  right: -3000px;
  z-index: -1;
  background-color: var(--foregroundpurple);
}

.tab-left {
  z-index: 3;
  border: 0px;
  position: relative;
  background-color: var(--foregroundpurple);
}
.tab-left:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20%;
  left: -3000px;
  z-index: -1;
  background-color: var(--foregroundpurple);
}

/* font choices */
h1,
h2 {
  font-family: "Kapra Neue Pro Exp Rd";
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

h3 {
  font-family: "Kapra Neue Pro Light Exp Rd";
  font-weight: 300;
  font-style: normal;
}

/* font sizes and colors */

body {
  color: white;
}

h1 {
  font-size: 58pt;
}
h1.no-padding {
  margin-top: 5px;
}

/* alignment */
.center-text {
  text-align: center;
}

/* social media buttons */
.social-button {
  color: #ffffff;
  font-size: 50px;
  padding: 40px 50px 40px 50px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  border: 0px;
}

.social-button:hover {
  text-decoration: none;
}
